doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="author", content="wanghaojie01 <wanghaojie01@baidu.com>")
        title wfe ·
        link(rel="icon", href="/images/logo.png", type="image/x-icon")
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/index.css")
    body
        .productions.clearfix
            a.production.z3(href="/z3")
                h2 z3
                p HTML5 快速开发框架，基于fis3 + vue2.0构建，让再复杂的应用也变得井井有条。
                div.link 了解更多
